* {
    font-family: Century Gothic, Verdana;
}

main {
    background-color: #F0EAE2;
}

header, footer {
    color: white;
    text-align: center;
    background-image: url("cegla.jpg");
    height: 60px;
}

nav {
    background-color: #824555;
    width: 80%;
    height: 60px;
}

aside {
    width: 20%;
    height: 560px;
    text-align: right;
    overflow: hidden;
}

aside.img {
    width: 100%;
}

section {
    width: 40%;
    height: 500px;
    overflow: auto;
    float: left;
}

h2 {
    text-align: center;
}

a {
    color: #F0EAE2;
    padding-left: 100px;
    font-size: 180%;
}

a:hover {
    color: white;
}
